* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#background-pane {
    width: 70%;
    margin:auto;
    text-align: center;
    overflow-x:visible;
    
}

#hand {
    position: relative;
    z-index:9;
    padding: 30px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    color: #222;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    display:none;
    
}

#outsource {
    position: relative;
    z-index:9;
    padding: 30px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    color: #222;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}


#output {
    z-index: -999;
    position:absolute;
}

#order {
    text-align: center;
    margin-top:20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: none;
}

#bph-result {
    text-align: center;
    margin-top:20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: none;
}

#expert-button {
    margin-top:10px;
    width:140px;

}

.flipped-point {
    color: #daa520;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    padding:10px;
    font-size: 30px;
    margin:5px;


}

#info {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    padding: 10px;
    padding-top:15px;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
    top: 10px;
    right:10px;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    text-decoration-line: none;
}

#info:hover {
    background-color: #DAA520;
    color:black;
}

#toggle{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    padding: 10px;
    padding-top:10px;
    text-align: center;
    margin: 10px auto;
    border-radius: 3px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    text-decoration-line: none;
    z-index: 999;
    width:30em;

}

#toggle:hover {
    background-color: #DAA520;
    color:black;
}

input[type="number"] {
    padding: 2px;
    text-align: center;
}

input[type="range"]{
    width: 100px;
    margin-left:0px;
}

.prioOut {
    display:inline;
    margin-top:-10px;
    margin-left:10px;
}


h1 {
    text-align: left;
    margin-bottom: 15px;
    margin-top:-10px;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#order-title{
    margin-top:20px;
}

button {
    width: 100px;
    height: 40px;
    border:1px solid #A77200;
    border-radius:5px;
    background-color: #DAA520;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #A77200;
}

a {
    color: #DAA520;
}

ul {
    font-size: 14px;
    list-style-position: inside;
    list-style-type: square;
    margin: 10px;
    text-align: left;
}

p {
    font-size: 14px;
    
}

a:visited {
    color: #A77200;
}

.row {
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.col {
    width:29%;
    background-color: #efefef;
    margin:1%;
    height:70px;
    border-radius: 5px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    position:relative;
}

.col-center {
    width: 29%;
    background-color: #efefef;
    margin:1%;
    height:70px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align:center;
    vertical-align: middle;
}

.col-right {
    width: 29%;
    background-color: #efefef;
    margin:1%;
    
    border-radius: 5px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 0px;
    height: 70px;
    text-align:center;
    vertical-align: middle;
    position: relative;
}

#button-wrapper {
    margin-top:70px;
}

#powered-result {
    float: left;
    width: 44%;
    margin: 1%;
    height: 80px;
    background-color: #efefef;
    border-radius: 5px;
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#strip-result {
    float:right;
    width:44%;
    margin: 1%;
    height: 80px;
    background-color: #efefef;
    border-radius: 5px;
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#strip-half-1 {
    width:48%;
    margin:1%;
    float:left;
    text-align: center;
}

#strip-half-2{
    width:48%;
    margin:1%;
    float:right;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {   
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider-label {
    display: inline-block;
    margin:20px;
    background-color: #eee;
    width: 100px;
    padding:10px;
    border-radius: 5px;;
  }

  .money-time {
    margin-top:20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }




  /**/


  #cost-graph {
    display:none;

  }

  #time-graph {
    display:block;
  }

  .help-tip{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    background-color: #DAA520;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    cursor: default;
    z-index: 100;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#000;
    z-index: 10;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    z-index: 10;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 10;
}

.help-tip-right p {
    left: -4px;
}

.help-tip-left p {
    right: -4px;
}



.help-tip-left p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
    z-index: 10;
}

.help-tip-right p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:10px;
    top:-12px;
    z-index: 10;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
    z-index: 10;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}